body {
    background-color: #2a3a38;
    margin: 0;
}

img {
    width: 100%;
    cursor: pointer;
    z-index: 2;
}

#event_section {
    margin: 0 10px;
    margin-bottom: 70px;
}

.data-content {
    display: grid;
    grid-gap: 50px;
}

.event_content {
    display: grid;
    background-color: white;
    grid-template-columns: 15px 1fr 1fr 1fr 15px;
    grid-template-rows: repeat(5, auto) 50px;
    padding-bottom: 20px;
}

.data-content img {
    grid-column: 1 / span 5;
    grid-row: 1;
}

.data-content p {
    grid-column: 2 / span 3;
    margin-bottom: 15px;
}

.data-dato,
.data-pris,
.data-venue,
.data-tidspunkt {
    font-weight: 700;
}

.data-content h2 {
    grid-column: 2 / span 3;
    margin-bottom: 10px;
    margin-top: 15px;
}

.event_button {
    border: none;
    text-align: center;
    display: block;
}

.event-item {
    border: none;
    cursor: pointer;
    margin-bottom: 50px;
    margin-top: 50px;
    font-size: 1.5em;
}

.event-item:hover {
    text-decoration: underline;
    text-decoration-color: red;
}

.data-button {
    grid-column: 3;
    width: 110px;
    height: 25px;
    justify-self: center;
    align-self: end;
    border-radius: 50px;
    cursor: pointer;
    border: 0.5px solid black;
}

.data-button:hover {
    border-bottom: 2px solid red;
}

#modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 1s;
    opacity: 0;
    pointer-events: none;
    overflow: scroll;
    transition: 1s;
    z-index: 10;
    display: grid;
    grid-template-columns: 5% auto 5%;
    grid-template-rows: 2% auto 2%;
}

#modal-content {
    grid-column: 2;
    grid-row: 2;
    width: 100%;
    background-color: rgb(250, 250, 250);
    display: grid;
    grid-template-columns: 15px auto 15px;
    grid-template-rows: auto auto 50px auto 1fr;
}

.subContainer {
    grid-row: 2;
    grid-column: 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#modal-content h2 {
    grid-column: 2;
    grid-row: 3;
}

#modal-content .data-tekst {
    grid-column: 2;
    grid-row: 4;
}

#modal-content .data-pris {
    grid-column: 2;
    grid-row: 5;

}

#modal-content .data-button {
    grid-column: 2;
    grid-row: 5;
    justify-self: end;
    align-self: center;
}

#modal-content img {
    grid-column: 1 / span 3;
    grid-row: 1;
}

#modal.vis {
    opacity: 1;
    pointer-events: all;
    transition: 0.5s;
}

.luk {
    border: none;
    position: absolute;
    height: 40px;
    width: 40px;
    top: 15px;
    right: 25px;
    z-index: 11;
}

.one {
    transform: rotate(45deg);
    position: absolute;
    width: 3px;
    height: 25px;
    background-color: white;
    right: 45%;
    top: 23%;
    pointer-events: none;
}

.two {
    transform: rotate(-45deg);
    position: absolute;
    width: 3px;
    height: 25px;
    background-color: white;
    right: 45%;
    top: 23%;
    pointer-events: none;
}

@media screen and (min-width: 768px) {
    main {
        display: grid;
        grid-template-columns: 50px auto 50px;
    }

    #event_section {
        margin: 0 0;
        margin-bottom: 70px;
    }

    .data-content {
        grid-column: 2;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1024px) {
    main {
        display: grid;
        grid-template-columns: 50px auto 50px;
    }

    .data-content {
        grid-column: 2;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1440px) {
    main {
        display: grid;
        grid-template-columns: 50px auto 50px;
    }

    .data-content {
        grid-column: 2;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
