/* --------------------------- grid ----------------------------------*/

.cursor {
    cursor: pointer;
}

.page_container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 80px auto auto auto auto 0px;
    grid-gap: 0px;
}

.container_billede {
    grid-row-start: 2;
    grid-row-end: 3;
    margin-bottom: -1%;

}

.container_billede2 {
    display: none;
}

.container_billede img {
    max-width: 100%;
}

.container_tekst {
    background-color: rgba(0, 0, 0, 0.88);
    grid-row-start: 3;
    grid-row-end: 4;
    padding-top: 10px;
    padding-bottom: 20px;
}

.container_tekst p {
    color: white;
}

.container_tekst h1 {
    color: white;
    font-size: 1.5em;
}

.content_tekst {
    width: 80%;
    line-height: 1.5em;
    margin: 0 auto;
}

.container_infografik {
    display: none;
}

.container_events {
    padding-top: 20px;
    padding-bottom: 15px;
    background-color: var(--green);
    grid-row-start: 4;
    grid-row-end: 5;
    overflow: hidden;
    position: relative;
    max-width: 1040px;
}

.container_aktiviteter {
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: var(--lightgreen);
    grid-row-start: 5;
    grid-row-end: 6;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: repeat (6, 1fr);
    grid-row-gap: 30px;

}

.content_bastard,
.content_teater,
.content_evoo,
.content_musik,
.content_bio,
.content_bipbip {
    grid-column-start: 2;
    grid-column-end: 3;
}

.container_aktiviteter img {
    width: 100%;
    max-width: 500px;
}


footer {
    width: 100%;
    grid-row-start: 6;
    grid-row-end: 7;
    padding-bottom: 30px;
}

#nyhedsbrev_wrapper {
    position: absolute;
    grid-row-start: 9;
    grid-row-end: 10;
    z-index: 1;
    top: 240px;
    overflow: scroll;
    margin-left: 8%;
    max-width: 350px;
}


/* ----------------------------------- events forside kode ---------------------------------- */

.container_events .single_h2 {
    color: white;
    margin-left: 10%;
}

.container_events .data-button:hover {
    border-bottom: 2px solid red;
}

.container_events #modal-content {
    max-width: 550px;
    justify-self: center;
}

.container_events img {
    width: 100%;

    z-index: 2;
}

.container_events main img {
    cursor: pointer;
}

.container_events .content_events {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 45% 10% 45%;
    grid-gap: 0px;

}

.container_events .content_events img {
    width: 100%;
    cursor: pointer;
    z-index: 0;
}

.container_events .knapTilAlleEvents {
    text-align: right;
    margin-right: 10%;
}

.container_events .knapTilAlleEvents a {
    color: var(--lightgreen);
    font-size: 1.2em;
    text-decoration: none;
    font-weight: 700;
}

.container_events .karrusel_pil {
    width: 25px;
    height: 48px;
    align-self: center;
    background-size: 100%;
    justify-self: center;
    cursor: pointer;
}

.container_events .karrusel_pil1,
.container_events .karrusel_pil3,
.container_events .karrusel_pil5 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    position: relative;
    background-image: url(img/pil_pink_left.svg);
}

.container_events .karrusel_pil2,
.container_events .karrusel_pil4,
.container_events .karrusel_pil6 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    position: relative;
    background-image: url(img/pil_pink_right.svg);
}

.container_events .absolute {
    width: 10%;
    height: 12%;
    background-color: rgb(0, 255, 255);
    position: absolute;
    display: none;
}

.container_events .data-dato,
.container_events .data-pris,
.container_events .data-venue,
.container_events .data-tidspunkt {
    font-weight: 700;
}

.container_events .data-tidspunkt {
    justify-self: center;
}

.container_events .data-venue {
    justify-self: right;
}

.container_events .data-content {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: 100% 100% 100% 100% 100% 100% 100% 100% 100% 100% 100% 100%;
    grid-gap: 25%;
    position: relative;
}

.container_events .content_events .data-content p {
    margin: 0 5%;
    margin-bottom: 0;
}

.container_events .content_events .data-content p.mere {
    margin-left: 0;
    margin-top: 8px;
    margin-bottom: 12px;
}

.container_events .content_events .data-content h2 {
    margin: 0 5%;
    margin-bottom: 10px;
    margin-top: 15px;
}

.container_events .position1 {
    left: -100%;
}

.container_events .position2 {
    left: -200%;
}

.container_events .position3 {
    left: -300%;
}

.container_events .data-content div {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, auto) 50px;
    background-color: white;
}

.container_events .data-content img {
    grid-column: 1 / span 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.container_events .data-content h2 {
    grid-row-start: 2;
    grid-row-end: 3;
}

.container_events .data-content .data-teasertekst {
    grid-row-start: 3;
    grid-row-end: 4;
}

.container_events .data-content .data-dato {
    grid-row-start: 4;
    grid-row-end: 5;
}

.container_events .data-content .data-pris {
    grid-row-start: 5;
    grid-row-end: 6;
}

.container_events .subContainer {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.container_events #modal-content .data-button {
    grid-column: 2;
    grid-row: 6;
    justify-self: end;
    align-self: center;
}

.container_events .data-content p,
h2 {
    margin: 4px;
    grid-column: 1 / span 3;
}

.container_events .content_events button {
    grid-column: 2;
    border-radius: 50px;
    border-color: rgba(162, 162, 162, 0.42);
    cursor: pointer;
    background-color: var(--red);
    height: 25px;
    width: 110px;
    color: white;
}

.container_events #modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 1s;
    opacity: 0;
    pointer-events: none;
    overflow: scroll;
    transition: 1s;
    z-index: 10;
    display: grid;
    grid-template-columns: 5% auto 5%;
    grid-template-rows: 2% auto 2%;

}

.container_events #modal-content {
    grid-column: 2;
    grid-row: 2;
    width: 100%;
    background-color: rgb(250, 250, 250);
    display: grid;
    grid-template-columns: 15px auto 15px;
    grid-template-rows: auto auto auto auto auto auto auto;
}

.container_events #modal-content img {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.container_events #modal-content h2 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

.container_events #modal-content .data-pris {
    font-size: 1em;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 6;
}

.container_events #modal-content .data-tekst {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-start: 5;
}

.container_events #modal.vis {
    opacity: 1;
    pointer-events: all;
    transition: 0.5s;
}

.container_events #modal-content .luk {
    border: none;
    height: 40px;
    z-index: 3;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;

}

.container_events .lukknap {
    width: 40px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.29);
    border-radius: 50%;
    margin-top: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.container_events .one {
    transform: rotate(45deg);
    position: relative;
    width: 3px;
    height: 25px;
    background-color: white;
    right: -19px;
    top: 7px;
    pointer-events: none;
}

.container_events .two {
    transform: rotate(-45deg);
    position: relative;
    width: 3px;
    height: 25px;
    background-color: white;
    right: -19px;
    top: -18px;
    pointer-events: none;
}


/* --------------------------------- events forside kode SLUT -------------------------------- */

@media screen and (min-width:550px) {
    .container_events #modal-content {
        grid-template-rows: auto 50px 1fr;
    }

    #nyhedsbrev_wrapper {
        margin-left: 6%;
    }
}

@media only screen and (min-width: 627px) {
    .container_aktiviteter {
        grid-template-columns: 5.5% 42% 5% 42% 5.5%;
        grid-template-rows: repeat (3, 1fr);
    }

    .container_tekst {
        background-color: rgba(38, 38, 38);
    }

    .content_tekst {
        width: 89%;
        font-size: 1.4em;
    }

    .content_teater {
        grid-column-start: 4;
        grid-column-end: 5;
    }

    .content_musik {
        grid-column-start: 4;
        grid-column-end: 5;
    }

    .content_bipbip {
        grid-column-start: 4;
        grid-column-end: 5;
    }

    .container_billede {
        grid-row-start: 2;
        grid-row-end: 4;
        position: absolute;
    }

    .container_billede img {
        padding-top: 80px;
    }


    .container_tekst {
        grid-row-start: 3;
        grid-row-end: 4;
        position: relative;
        align-self: end;
    }

    .content_tekst {
        font-size: 1em;
    }

    .page_container {
        grid-template-rows: 80px 350px auto auto auto 0px;
    }

    .container_events .content_events {
        grid-template-columns: 6% 41% 6% 41% 6%;
        grid-template-rows: 45% 10% 45%;
        grid-gap: 0px;
    }

    .container_events .data-content {
        grid-template-columns: 100% 100% 100% 100% 100% 100% 100% 100% 100% 100% 100% 100%;
        grid-gap: 14.6%;
    }

    .container_events .karrusel_pil2,
    .container_events .karrusel_pil4,
    .container_events .karrusel_pil6 {
        grid-column-start: 5;
        grid-column-end: 6;
    }

    .container_events .single_h2 {
        margin-left: 5.5%;
    }

    .container_events .knapTilAlleEvents {
        margin-right: 5.5%;
    }

    .container_events .knapTilAlleEvents:hover {
        text-decoration: underline;
    }

    .container_events .position1 {
        left: -94%;
    }

    .container_events .position2 {
        left: -188%;
    }

    .container_events .position3 {
        left: -282%;
    }

    #nyhedsbrev_wrapper {
        margin-left: 4%;
        top: 100px;
    }
}

@media only screen and (min-width: 770px) {
    .page_container {
        grid-template-rows: 80px 370px auto auto auto 0px;
    }

    #nyhedsbrev_wrapper {
        margin-left: 5%;
    }
}

@media only screen and (min-width: 840px) {
    .page_container {
        grid-template-rows: 80px 390px auto auto auto 0px;
    }
}

@media only screen and (min-width: 890px) {
    .page_container {
        grid-template-rows: 80px 410px auto auto auto 0px;
    }
}

@media only screen and (min-width: 940px) {

    .container_billede2 {
        display: block;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .container_billede2 img {
        width: 100%;
    }

    .container_billede {
        display: none;
    }


    .container_aktiviteter {
        display: none;
    }

    .page_container {
        grid-template-rows: 80px 50px auto auto auto;
        grid-template-columns: 40% 60%;
    }

    .container_tekst {
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 2;
        position: relative;
        align-self: flex-start;
        background-color: white;
        height: 95%;
        width: 80%;
        justify-self: center;
        align-self: center;
        background-color: rgba(255, 255, 255, 0);
    }

    .content_tekst {
        max-width: 80%;
        font-size: 0.9em;
        margin-top: 140px;
        line-height: 1.6em;
        font-weight: 600;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 2px 10px;
        color: white;
        text-align: center;
        border-radius: 10px;
        transform: rotate(-3deg);
    }

    .container_events {
        grid-column-start: 1;
        grid-column-end: 3;
        margin-top: -70px;
    }

    .container_infografik {
        display: block;
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 2;
        grid-column-end: 3;
        padding-top: 25px;
        margin-right: 35px;
        max-width: 557px;
    }

    .container_events .content_events {
        grid-template-columns: 4% 28% 4% 28% 4% 28% 4%;
        grid-gap: 0px;
    }

    .container_events .data-content {
        grid-template-columns: 100% 100% 100% 100% 100% 100% 100% 100% 100% 100% 100% 100%;
        grid-gap: 14.3%;
        position: relative;
    }

    .container_events .karrusel_pil2,
    .container_events .karrusel_pil4,
    .container_events .karrusel_pil6 {
        grid-column-start: 7;
        grid-column-end: 8;
    }

    .container_events .single_h2 {
        margin-left: 4%;
    }

    .knapTilAlleEvents {
        margin-right: 4%;
    }

    .container_events .position1 {
        left: -96%;
    }

    .container_events .position2 {
        left: -192%;
    }

    .container_events .position3 {
        left: -288%;
    }


    footer {
        width: 100%;
        grid-column-start: 1;
        grid-column-end: 4;
        background-color: white;
    }

    .container_events #modal-content {
        max-width: 800px;
    }

    #nyhedsbrev_wrapper {
        margin-left: 4%;
        top: 170px;
    }
}

@media only screen and (min-width: 1040px) {
    #nyhedsbrev_wrapper {
        margin-left: 6%;
    }
}

@media only screen and (min-width: 1180px) {
    #nyhedsbrev_wrapper {
        margin-left: 10%;
    }
}

@media only screen and (min-width: 1295px) {
    #nyhedsbrev_wrapper {
        margin-left: 15%;
    }
}

@media only screen and (min-width: 1475px) {
    #nyhedsbrev_wrapper {
        margin-left: 20%;
    }
}

@media only screen and (min-width: 1725px) {
    #nyhedsbrev_wrapper {
        margin-left: 25%;
    }
}
