.page_container_skab_events {
    grid-template-columns: 100%;
    grid-template-rows: 80px auto auto;
}

.container_skab_events img {
    width: 100%;
}

.container_skab_events h1 {
    font-size: 1.5em;
    font-weight: 900;
}

.container_skab_events h2 {
    font-size: 1.2em;
    font-weight: 600;
    margin-top: 0;
}

.container_skab_events p {
    line-height: 1.5em;
    word-break: normal;
    font-size: 1em;
    word-spacing: normal;
    margin-bottom: 25px;
}

.container_skab_events {
    background-color: var(--green);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto auto auto;
    grid-row-start: 2;
    grid-row-end: 3;
}

.container_skab_events .section1 {
    padding-top: 80px;
    grid-row-start: 1;
    grid-row-end: 2;
}

.container_skab_events .section2 {
    color: white;
    margin-top: -5px;
    grid-row-start: 2;
    grid-row-end: 3;
    padding: 0 10%;
}

.container_skab_events .section3 {
    color: white;
    grid-row-start: 3;
    grid-row-end: 4;
    padding: 0 10%;
}

.container_skab_events .section4 {
    color: white;
    grid-row-start: 4;
    grid-row-end: 5;
    padding: 0 10%;
}

.container_skab_events .section5 {
    grid-row-start: 5;
    grid-row-end: 6;
}


.section5 .container {
    background-color: rgb(38, 38, 38);
    color: white;
    margin: 20px 10%;
    border-radius: 5px;
    opacity: 1;
    padding: 20px;
    margin-bottom: 25px;
    box-shadow: 3px 5px 5px black;
}

.section5 .container h2 {
    margin: 0;
    margin-bottom: 15px;
    grid-column-start: 1;
    grid-column-end: 4;
}

.container_skab_events .section6 {
    grid-row-start: 6;
    grid-row-end: 7;
    background-color: var(--lightgreen);
    padding: 0 10%;
}

.page_container_skab_events footer {
    grid-row-start: 3;
    grid-row-end: 4;
}

/*kontaktformular*/

input[type=text],
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background-clip: white;
    cursor: text;
}

input[type=submit] {
    color: white;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    opacity: 0.6;
    background-color: var(--red);
    )
}

input[type=submit]:hover {
    opacity: 1;
    font-weight: 700;
}

.section4 .container {}

/*kontaktformular SLUT*/

@media screen and (min-width:700px) {
    .container_skab_events {
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto auto auto auto;
    }

    .container_skab_events .section1 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        padding-top: 0;
    }

    .container_skab_events .section2 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        padding: 0 5%;
    }

    .container_skab_events .section2 h1 {
        font-size: 2em;
    }

    .container_skab_events .section2 p {
        font-size: 1.4em;
        font-weight: 600;
    }

    .container_skab_events .section3 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
        padding: 0 10%;
    }

    .container_skab_events .section4 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
        padding: 0 10%;
    }


    .container_skab_events .section5 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 5;
    }

    .section5 .container {
        margin: 0 10%;
        margin-left: 0%;
        margin-bottom: 30px;
    }

    .container_skab_events .section6 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 6;
        padding: 0 5%;
    }

    .container_skab_events h1 {
        margin-top: 30px;
    }
}

@media screen and (min-width:940px) {
    .page_container_skab_events {
        grid-template-columns: 100%;
        grid-template-rows: 80px 50px auto auto;
    }

    .container_skab_events .section1 {
        padding-top: 50px;
    }

    .container_skab_events .section2 p {
        font-size: 1.5em;
        font-weight: 600;
    }

    .container_skab_events .section3 {
        padding-right: 5%;
    }

    .container_skab_events .section4 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
        padding: 0 10%;
        padding-left: 5%;
    }

    .container_skab_events .section5 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        background-color: rgba(255, 255, 255, 0);
        padding-top: 140px;
        justify-self: right;
    }

    .section5 .container {
        margin: 0 5%;
        background-color: rgba(38, 38, 38, 0.85);
        max-width: 380px;
    }
}

@media screen and (min-width:1000px) {
    .container_skab_events .section1 {
        padding-top: 0px;
    }
}


/*
@media screen and (min-width: 940px) {

    .container_skab_events img {
        width: 450px;
    }


    .section1 {

        grid-column-start: 2;
        grid-column-end: 1;
        grid-row-start: 2;
        grid-row-end: 2;

    }

    .section2 {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }


    .section3 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .img2 {
        width: 500px;
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .section5 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 5;
        grid-row-end: 5;
        margin: 0 250px;
    }

    .container_skab_events h2 {
        margin-top: 50px;
    }

}
*/

/*
@media screen and (min-width:1200px) {
    .container_skab_events {
        display: grid;
        grid-template-columns: 500px auto 500px;
        ;
        grid-template-rows: auto;
        margin: 0px 50px;

    }

    .container_skab_events img {
        width: 500px;
    }


    .section1 {

        grid-column-start: 2;
        grid-column-end: 1;
        grid-row-start: 2;
        grid-row-end: 2;

    }

    .section2 {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }


    .section3 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .img2 {
        width: 500px;
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
    }

}
*/

/*
@media screen and (min-width:2000px) {
    .container_skab_events {
        display: grid;
        grid-template-columns: auto auto auto;
        ;
        grid-template-rows: auto;
        margin: 70px;
    }



    .container_skab_events img {
        width: 700px;
    }

    .img2 {
        width: 700px;


    }
}

.container_skab_events a {
    color: black;
    text-decoration: underline;
    cursor: pointer;
}

.container_skab_events a:hover {
    font-size: 1.1em;
}

.container_skab_events i {
    cursor: pointer;
    font-size: 2em;
}

.container_skab_events i:hover {
    font-size: 1.1em;
}
*/
